@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-surface;
	font-family: Montserrat, Helvetica, sans-serif;
}

@font-face {
	font-family: Montserrat;
	src: url('/fonts/montserrat/Montserrat-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: Montserrat;
	src: url('/fonts/montserrat/Montserrat-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Montserrat;
	src: url('/fonts/montserrat/Montserrat-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: Montserrat;
	src: url('/fonts/montserrat/Montserrat-Bold.ttf');
	font-weight: 700;
}
